/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
  font-family: sans-serif;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;

}
h1 {
	background: yellow;
	color: black;
	text-align: center;
	font-size: 1em;
	padding: 0.5em;
}
nav {
	display: flex;
}
<<<<<<< HEAD
li {
	list-style-type: "";
}
=======

>>>>>>> 20dd08265371f3aa1d18665cb1bd5fb1bb8538df
header nav img {
	width: 30%;
    object-fit: contain;
}

div {
	background:lightgray;
	display: flex;
	justify-content: center;
	padding: 0.5em;
}
header div img {
	width: 30%;
    object-fit: contain;
	margin-right: 0.5em;
}
img {
	width: 100%;
    object-fit: contain;
}

<<<<<<< HEAD
section:nth-of-type(1) ul li{
	width: 5em;
}
section:nth-of-type(1) ul, section:nth-of-type(2) ul, section:nth-of-type(5) ul {
	display: flex;
	flex-direction: row;
=======
section article {
	display: flex;
>>>>>>> 20dd08265371f3aa1d18665cb1bd5fb1bb8538df
}

section ul li p:nth-of-type(2) {
	color: crimson;
}



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

